body{
    background-color: gray;
}

.banner{
    width: 100%;
    border: 3px solid black;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.media_links ul{
    margin: auto;
    list-style: none;
    padding-left: 2px;
    display: grid;
    justify-content: center;
    grid-row-gap: 10%;
}

.media_links a{
    text-decoration: none;
    color: black;
}

.media_links p{
    margin-bottom: 2px;
}

.demographics h1{
    margin: auto;
    padding-left: 20%;
}

.demographics h2{
    color: #164171;
    padding-left: 30%;
}

.link-social div{
    width: 40%;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}


.loader {
    margin: auto;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .bio{
    margin: auto;
  }

  h3{
    text-align: center;
  }

table{
    width: 80%;
}

th{
    width: 15%;
    text-align: left;
}